/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.center {
  margin: auto;
}
body {
  background-image: linear-gradient(to bottom right, #B9316B, #793071, #342F78);
  background-color: #793071;
}
html {
  scroll-behavior: smooth;
}
nav {
  overflow: hidden;
  background-color: #AA499C;
  position: relative;
  border-bottom: 3px double #c8c000;
}
nav .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav .mobile #myLinks {
  display: none;
}
nav .mobile a {
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
nav .mobile a .icon {
  background: #AA499C;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
nav .mobile a:hover {
  background-color: #ffffff;
  color: #AA499C;
}
nav .desktop {
  display: none;
}
.main {
  position: relative;
  height: 600px;
}
.main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6em 0 1em 0;
}
.main header h1 {
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
}
.main header h2 {
  text-align: center;
  font-size: 1.2em;
  color: #ffffff;
}
.main .content {
  height: 300px;
}
.main footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px double #c8c000;
  padding-top: 0.6em;
}
.main footer p {
  text-align: center;
  font-size: 1em;
  color: #ffffff;
}
@media only screen and (min-width: 730px) {
  nav {
    position: fixed;
    z-index: 5;
    width: 100%;
  }
  nav .mobile {
    display: none;
  }
  nav .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  nav .desktop a {
    color: #ffffff;
    padding: 1em;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  nav .desktop a:hover {
    background-color: #ffffff;
    color: #AA499C;
  }
  .main {
    top: 60px;
    height: 1000px;
  }
  .main header h1 {
    font-size: 2em;
  }
  .main .content {
    height: 500px;
  }
}
