.center {
  margin: auto;
}
body {
  background-image: linear-gradient(to bottom, #B9316B, #793071, #342F78);
  background-color: #793071;
}
html {
  scroll-behavior: smooth;
}
@media only screen and (min-width: 730px) {
  nav {
    position: fixed;
    z-index: 5;
    width: 100%;
  }
  nav .mobile {
    display: none;
  }
  nav .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  nav .desktop a {
    color: #ffffff;
    padding: 1em;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  nav .desktop a:hover {
    background-color: #ffffff;
    color: #AA499C;
  }
  .main {
    top: 60px;
  }
  .main header h1 {
    font-size: 2em;
  }
  .main .content {
    height: 500px;
  }
}
