@import 'base.less';

@media @730 {
    nav {position: fixed;
        z-index: 5;
        width: 100%;

        .mobile {display: none;}

        .desktop {.flexrow();
            justify-content: space-around;
            align-items: center;
        
            a {color: @font;
                padding: 1em;
                text-decoration: none;
                font-size: 17px;
                display: block;
            
                &:hover {background-color: @font;
                    color: @navbg;}
            }
        }
    }

    .main  {top: 60px;
        height: 1000px;
    
        header {

            h1 {font-size: 2em;}
        }

        .content {height: 500px;}
    }
}