@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(https://fonts.gstatic.com/s/sarabun/v7/DtVjJx26TKEr37c9aBVJmg.ttf) format('truetype');
}
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
.center {
  margin: auto;
}
body {
  background: url(../images/bg.svg) no-repeat;
  background-size: cover;
  background-color: #1F2026;
  font-family: 'Sarabun', sans-serif;
}
html {
  scroll-behavior: smooth;
}
@media only screen and (min-width: 730px) {
  nav {
    position: fixed;
    z-index: 5;
    width: 100%;
  }
  nav .mobile {
    display: none;
  }
  nav .desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  nav .desktop .title {
    padding: 1em 25em 1em 2em;
    color: #ffffff;
  }
  nav .desktop .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  nav .desktop .links a {
    color: #ffffff;
    padding: 1em 2.5em;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  nav .desktop .links a:hover {
    background-color: #ffffff;
    color: #AA499C;
  }
  .main {
    top: 60px;
  }
  .main header h1 {
    font-size: 2em;
  }
}
